@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins:wght@400;500;600&display=swap');

:root {
  --main-color: #29ABB7;
  --secondary-color:#575757;
  --white:#fff;
}
body{
  font-family: Poppins, sans-serif;
  margin:0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 1850px;
}
.container{
  width:80%;
  max-width: 1450px;
  margin: 0 auto;
}
.mb{
  margin-bottom: 50px;
}

h1, h2{
  font-family: Kalam !important;
  font-size: 42px;
  color:var(--main-color);
  font-weight: 400;
  line-height: 40px;
}
h3{
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  color: var(--main-color);
}
p{
  font-family: poppins;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color)
}
button{
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  padding: 10px 30px;
}
section{
  padding:30px 0;
}
#country{
  display: flex;
  justify-content: space-between;
  gap:30px;
  flex-wrap: wrap !important;
}
#country article{
  width:20%;
  min-width: 250px;
}
.card{
  background-repeat: no-repeat;
  height: 350px;
  padding:10px;
  background-size: cover;
  border-radius:5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-head img,.card-head h2,.card .description{
  color:var(--white) !important;
}
.card-head{
  display: flex;
  
}
.card-head h2{
  font-family: poppins !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  margin: 0 !important;
}
.description{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}


/***** section services*****/
#services .container{
  display: flex;
  flex-direction: column;
  gap:36px;
}

.services-head{
  text-align: center; 
}

.services-body{
  display: flex;
  gap:36px;
  
}
.organisation{
  width:120%;
}

.organisation img{
  width:100%;
  object-fit: cover;
}
.organisation p a{
  color: var(--main-color);
}

.services-list{
  display: flex;
  flex-direction: column;
  gap:36px
  
}
.services-list > div{
  display: flex;
  gap:30px
}

/****** section devis*****/
#devis{
  display: flex;
  align-items: center;
  position: relative;
  margin-top:170px;
}
.devis-content{
  padding: 100px 0;
  background-color: var(--main-color);
  width: 50%;
 
    
}
.devis-content .container{
  width:70%;
  
}
.devis-description{
  max-width:400px;
  
}
.devis-content h2, .devis-content p{
  color: var(--white)
}
.devis-img{
  position: absolute;
  top: -120px;
  right:0;
  
}

.circle{
  position: absolute;
  bottom: 30px;
  left:40%;
  z-index:10 !important;
}
#devis button{
  color: var(--white);
  border: 2px solid var(--white);
}
#devis button:hover{
  background-color: var(--white);
  color: var(--main-color)
}
/****** section myliste*****/
#mylist .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:36px
}
.mylist-head{
  text-align: center;
}
#mylist button{
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
#mylist button:hover{
  color: var(--white);
  background-color:var(--main-color);
}
.mylist-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap:30px
}
.mylist-content >div{
  display: flex;
  gap:20px;
  width: 30%;
  min-width: 250px;
}

@media (max-width:1320px){
  #devis {
    margin-top: 230px;
  }
  .devis-img{
    top: -260px; 
  }
  .devis-content{
    padding-top: 180px;
    width:70%
  }
  .circle{
    left:60%
  }
  .devis-description{
    max-width: 600px;
  }
  .mylist-content >div{
     min-width: 350px;
    
  }
}

/**** laptop****/
@media (max-width:992px){
  #devis {
    margin-top: 270px;
    
  }
  #country{
    justify-content: start;
    column-gap: 30px;
  }
  .devis-img{
    top: -280px; 
    left:20%;
    overflow: hidden;
  }
  .devis-img img{
    width:110%;
  }
  .devis-content{
    padding-top: 100px;
    width:90%
  }
  .circle{
    left:70%;
    top:5%;
    width:30%

  } 
}
/***** tablette****/
@media (max-width:768px){
  .container{
    width:95%;
  }
  
  .organisation{
    width:100%;
  }
  .services-body, #devis{
    flex-direction: column;
  }
  #devis{
    margin-top:50px;
    justify-content: center;
  }
  .devis-content{
    width:100%;
    padding-top: 100px;
  }
  .devis-description{
    max-width: 100%;
  }
  .devis-img{
    position: static;
  }
  .devis-img img{
    width:100%
  }
  .circle{
    top:50%;
    left:45%;
  }
  .mylist-content{
    flex-direction: column;
  }
  .mylist-content > div{
    width: 100%;
    min-width: 200px;
  }
  .mylist-content img{
    width: 100px;
    height: 100px;
  }
  h1,h2{
    font-size: 32px;
  }

}
@media (max-width:576px){
  #country{
    flex-direction: column;
  }
  #country article{
    width:100%;
  }
}